Graphe-Et-Ontologies/lib/definition.dtd

<!ELEMENT IndexSource (ENTREE*) >
<!ELEMENT ENTREE (ATTRIBUT*, RELATION+, RENVOIS?) >
<!ELEMENT RELATION (LIEN*) >
<!ELEMENT ATTRIBUT EMPTY>
<!ELEMENT LIEN (#PCDATA) >
<!ELEMENT RENVOIS (LIEN*) >


<!ATTLIST IndexSource 	corpus	CDATA #IMPLIED >
<!ATTLIST ENTREE 		id		CDATA #REQUIRED >
<!ATTLIST ATTRIBUT 		nom 	CDATA #REQUIRED
						valeur 	CDATA #REQUIRED >
<!ATTLIST RELATION		nom		CDATA #REQUIRED >
