Ontologies/index327.dtd

<!ELEMENT IndexSource (ENTREE*) >
<!ELEMENT ENTREE (RELATION+, RENVOIS) >
<!ELEMENT RELATION (LIEN*) >
<!ELEMENT LIEN (#PCDATA) >
<!ELEMENT RENVOIS (LIEN*) >


<!ATTLIST IndexSource corpus CDATA #IMPLIED >
<!ATTLIST ENTREE terme		CDATA 	#REQUIRED
				 validite 	CDATA 	#REQUIRED
				 id			CDATA	#REQUIRED >
<!ATTLIST RELATION	nom		CDATA	#REQUIRED >
