Ontologies/villes.dtd

<!ELEMENT IndexSource (ENTREE*) >
<!ELEMENT ENTREE (RELATION+, RENVOIS?) >
<!ELEMENT RELATION (LIEN*) >
<!ELEMENT LIEN (#PCDATA) >
<!ELEMENT RENVOIS (LIEN*) >


<!ATTLIST IndexSource corpus	CDATA #IMPLIED >
<!ATTLIST ENTREE id				CDATA #REQUIRED
				 terme			CDATA #REQUIRED
				 code-postal	CDATA #IMPLIED
				 population		CDATA #IMPLIED
				 superficie		CDATA #IMPLIED >
<!ATTLIST RELATION	nom		CDATA	#REQUIRED >
